.page-container {
    position: absolute;
    top: 65px; 
    border-radius: 5px;
    z-index: 5;
 
   
}


.links-container {
   width: 600px;
   height: 55px;
    padding-top: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    
    
  
    
}

.link-item {
    font-size: 20px;
    text-decoration: none;
    color: grey;
    padding: 10px; 
}

.link-item:first-child {
    border-top: none; 
}

.link-item:hover {
    background-color: #f0f0f0;
}
