/* App.css */
:root {
    --background-color-light: #f0f0f0;
    --text-color-light: #000;
    --background-color-dark: #333;
    --text-color-dark: #fff;
  }
  
  .App {
    position: relative;
    width: 600px;
    height: 800px;
    margin: 10% auto;
    background-color: var(--background-color-light);
    color: var(--text-color-light);
    transition: background-color 0.3s, color 0.3s;
  }
  
  /* Добавьте стили для светлой темы */
  
  .App.dark-mode {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
  }
  
  /* Добавьте стили для темной темы */
  .App.light-mode {
    background-color: var(--background-color-light);
    color: var(--text-color-light);
  }
  
  